/* Popup container */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Inner popup */
.popup-inner {
    width: 60%; 
    height: 65%; 
    max-width: 80vw; /* Maximum width of popup */
    max-height: 80vh; /* Maximum height of popup */
    padding: 16px; /* Padding inside the popup */
    background-color: #3C6E4F; /* Charli XCX Brat green */
    border-radius: 8px; 
    overflow: hidden; /* Hide overflow */
    position: relative; 
}

/* Custom scrollbar container */
.custom-scrollbar-container {
    height: calc(100% - 32px); /* Full height minus padding */
    overflow-y: auto; /* Enable vertical scrolling */
    padding-top: 0;
    padding-bottom: 10px; 
    position: relative;
    top: 30px;
    right: auto;
}


/* Scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #65a30d; /* Slightly lighter green for scrollbar thumb */
    border-radius: 5px;
    border: 3px solid #3f6212; /* Match the popup background green */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #a3e635; /* Light green for scrollbar track */
    border-radius: 5px;
}

/* Header text */
.popup h3 {
    color: #000000; 
    font-size: 2rem; /* 24px */
    font-weight: bold;
}

/* Paragraph text */
.popup p {
    color: #000000; 
    font-size: 1.5rem; /* 16px */
    line-height: 1.5;
    margin-bottom: 1rem;
}
